<h3 class="ui header">{{t "forms.i-i-s-find-error-debit-card-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.accountNumber
      class=(if (v-get validationModel "accountNumber" "isInvalid") "error")
      label=(t "forms.i-i-s-find-error-debit-card-e.accountNumber-caption")
      data-test-i-i-s-find-error-debit-card-e-accountNumber=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "accountNumber" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.ownedBy
      class=(if (v-get validationModel "ownedBy" "isInvalid") "error")
      label=(t "forms.i-i-s-find-error-debit-card-e.ownedBy-caption")
      data-test-i-i-s-find-error-debit-card-e-ownedBy=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "ownedBy" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-find-error-debit-card-e.bank-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.bank
      displayAttributeName="name"
      autocomplete=true
      relationName="bank"
      projection="BankL"
      title=(t "forms.i-i-s-find-error-debit-card-e.bank-caption")
      readonly=readonly
      componentName="bankLookup"
      class=(if (v-get validationModel "bank" "isInvalid") "error")
      data-test-i-i-s-find-error-debit-card-e-bank=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "bank" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-find-error-debit-card-e.customer-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.customer
      displayAttributeName="name"
      autocomplete=true
      relationName="customer"
      projection="CustomerL"
      title=(t "forms.i-i-s-find-error-debit-card-e.customer-caption")
      readonly=readonly
      componentName="customerLookup"
      class=(if (v-get validationModel "customer" "isInvalid") "error")
      data-test-i-i-s-find-error-debit-card-e-customer=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "customer" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-find-error-debit-card-e.account-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.account
      displayAttributeName="accountType"
      autocomplete=true
      relationName="account"
      projection="AccountL"
      title=(t "forms.i-i-s-find-error-debit-card-e.account-caption")
      readonly=readonly
      componentName="accountLookup"
      class=(if (v-get validationModel "account" "isInvalid") "error")
      data-test-i-i-s-find-error-debit-card-e-account=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "account" "message")}}
  </div>
</form>
